<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="EmploNexusEntities" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EmploNexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmploNexusEntities1" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EmploNexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPLONEXUS_DATABASEEntities" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EMPLONEXUS_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPLONEXUS_Entities" connectionString="metadata=res://*/AppData.EMPLONEXUS_MODEL.csdl|res://*/AppData.EMPLONEXUS_MODEL.ssdl|res://*/AppData.EMPLONEXUS_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EMPLONEXUS_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPLONEXUS_DATABASE_Entities" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EMPLONEXUS_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmploNexus_Entities" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EMPLONEXUS_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmploNexus_Entities_NEW" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress01;initial catalog=EMPLONEXUS_DATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPLONEXUS_NEWEntities" connectionString="metadata=res://*/AppData.Model_EmploNexus.csdl|res://*/AppData.Model_EmploNexus.ssdl|res://*/AppData.Model_EmploNexus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EMPLONEXUS_NEW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmploNexus_Entities_N" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EMPLONEXUS_NEW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMPLONEXUS_Entities1" connectionString="metadata=res://*/AppData.EmploNexus_Model.csdl|res://*/AppData.EmploNexus_Model.ssdl|res://*/AppData.EmploNexus_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EMPLONEXUS_NEW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>